 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 
 body{
    min-height: 100vh;
    padding: 20px;
 }
 .container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid rgba(0, 0, 0, 0.623);
    display: flex;
    gap: 1rem;
    /*
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    align-items: flex-start;
    align-items: flex-end;
    flex-direction: column ;
    flex-wrap: wrap;
    */

 }
 .box{
    min-width: 100px;
    min-height: 100px;
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: .5rem;
 }