@charset "UTF-8";
/*Media Querys*/
*{
    margin: 0px;
    padding: 0px;
}
/*Impressora  */
@media print{
    img.Phone, img.Tablet, img.Tv, img.Pc{
        display: none;
    }
    body{
        background-image: url(pacote-imagens-cap25/imagens/back-print.jpg);
    }
    img{
        display: block;
        margin: auto;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body{
        background-image: url(pacote-imagens-cap25/imagens/back-tablet.jpg);
    }
    img.Phone, img.Print, img.Tv, img.Pc{
        display: none;
    }
    img.Tablet{
        display: block;
        margin: auto;
    }
}

/* Pc */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    img.Phone, img.Print, img.Tv, img.Tablet{
        display: none;
    }
    body{
        background-image: url(pacote-imagens-cap25/imagens/back-pc.jpg);
    }
    img.Pc{
        display: block;
        margin: auto;
    }
}

/* Tv */
@media only screen and (min-width: 1200px) {
    img.Phone, img.Print, img.Tablet, img.Pc{
        display: none;
    }
    body{
        background-image: url(pacote-imagens-cap25/imagens/back-tv.jpg);
    }
    img.Tv{
        display: block;
        margin: auto;
    }
}