@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    color: white;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background: url(pacote-imagens-cap25/imagens/back-pc.jpg);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}
h1, h2, ul{
    text-shadow: 3px 3px 0px rgba(85, 84, 84, 0.322);
}
h2{
    padding: 10px 10px 10px 0px;
}